<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Require4Testing</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>
<div th:replace="~{fragments :: nav}"></div>
<h1>Require4Testing</h1>
<p>Web-Applikation zur Organisation manueller Anwendertests</p>
<ul>
    <li><a href="/anforderungen">Anforderungen</a> – Anforderungen erstellen und verwalten (US 1)</li>
    <li><a href="/testfaelle">Testfälle</a> – Testfälle zu Anforderungen erstellen (US 3)</li>
    <li><a href="/testlaeufe">Testläufe</a> – Testläufe anlegen und Testfälle zuordnen (US 2 + 4)</li>
    <li><a href="/testdurchfuehrungen">Testdurchführungen</a> – Ergebnisse für Testdurchführungen erfassen (US 5)</li>
</ul>
</body>
</html>
